@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

}
body {
   background-image: linear-gradient(to right,#F1DEC9, #F2C3A8);}
   
    main{
        background-color: white;
        border-radius: 10px;
        box-shadow: 5px 5px 15px #966c538a;
        width: 600px;
        padding: 10px;
        margin: auto;
    }

    h1{
        color: #f3920981;
        text-align: center;
        text-shadow: 1px 1px 0px #885003;
    }

    h2{
        color: #51a6f5
    }

{
    p{
        -ms-text-justify: ;
    }
}