@charset "UTF-8";

/* em HTML é id = css é #
em HTML é id=css é (.)
*/

body{
    background-color: rgb(190, 243, 154);
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

h1{
    color:rgb(5, 65, 121) ;
}

h2{
    color: rgb(218, 33, 79);
}
 
.basico{
    color: rgba(3, 8, 8, 0.74);
    font-weight: bold;
    text-align: center;
}

.itermediario{
    color: brown;
    text-align: center;
}

.avançado{
    color: blue;
    text-align: center;
}

.destaque{
    background-color: #3b1d1d;
    color: white;
    font-weight: bold;
    text-align: center;
}