@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100%vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}

header> h1{
    padding-top: 50px;
    font-variant: small-caps;
    /*font-variant: small-caps; apesar de deixar o palavras maúsculo, fica mais moderno com issso*/
    /*text-transform: uppercase: se usa para deixar tudo maiúscula*/
}

header> p{
    padding: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
        text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(58, 56, 56, 0.137);
    color: white;
}

section.imagem {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.255);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}